<h1>FIFA World Cup</h1>
<h2>Qatar 2022</h2>
<p>{{email}}</p>
<p>{{username}}</p>
<p>{{team}}</p>
<ul>
    {{#each matches}}
    <li style="font-style:bold">{{team1}} vs {{team2}}    {{score}}</li>
    <li style="font-style:italic">{{date}} {{time}}</li>
    <br>
    {{/each}}
</ul>
<form action="/app/change_team/" method="post">
    <label for="team-field">No longer interested in seeing results for {{team}}? Select another team!</label>
    <select id="team-field" name="team">
      {{#each teams}}
        <option value={{name}}>{{name}}</option>
      {{/each}}
    </select>
    <input type="submit" name="changeTeam" value="Change Team">
</form>
<form action="/app/logout/" method="post">
    <input type="submit" name="logout" value="Logout"/>
</form>
<form action="/app/delete_account/" method="post">
    <input type="submit" name="deleteAccount" value="Delete Account"/>
</form>
