<h1 style="text-align: center;">FIFA World Cup</h1>
<h2 style="text-align: center;">Qatar 2022</h2>
<h3>Matches for <b>{{team}}</b></h3>
<ul style="list-style: none; margin-left: 1em;">
    {{#each matches}}
    <li>{{team1}} vs {{team2}}</li>
    <li><b>{{score}}</b></li>
    <li style="font-style: italic;">{{date}} {{time}}</li>
    <br>
    {{/each}}
</ul>
<form action="/app/change_team/" method="post">
    <p>No longer interested in seeing matches for {{team}}?</p>
    <label for="team-field">Select another team!</label>
    <select id="team-field" name="team">
      {{#each teams}}
        <option value={{name}}>{{name}}</option>
      {{/each}}
    </select>
    <input type="submit" name="changeTeam" value="Change Team">
</form>
<h3>Account Information</h3>
<p>Email: <b>{{email}}</b></p>
<p>Username: <b>{{username}}</b></p>
<form action="/app/logout/" method="post">
    <input type="submit" name="logout" value="Logout"/>
</form>
<form action="/app/delete_account/" method="post">
    <input type="submit" name="deleteAccount" value="Delete Account"/>
</form>
